.contactContainer{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}
.title{
    margin: 80px 0 30px 0;
    color: rgb(229, 226, 226);
}
.title h3{
    font-size: 32px;
    font-weight: 700;
}
.contactContainer ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;   
}
.contactContainer ul li{
    margin: 0 20px;
    transition: 1s;
}

.contactContainer ul a{
    text-decoration: none;
    color: rgb(229, 226, 226);
    font-size: 24px;
    padding: 5px;
    display: inline-block;
    transition: transform 0.8s ease-out;
}
.contactIcon{
    margin-right: 8px;
}
.contactContainer ul li a:hover{
    transform: translateY(10px);
}
.contact-dark{
background-color: black;
}
.contact-light{
background-color: rgb(229, 226, 226);
border-top: 1px solid black;
}
.contact-light h3{
    color: #000;
}
.contact-light ul a{
color: #000;
}


@media (max-width:635px) {
    .contactContainer ul{
        width: 100%;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .contactContainer ul li{
        padding: 20px 0;
    }
  
}